

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>About VSL</title>
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css" />
	<link href="http://www.veryshortlist.com/include/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<ul class="container">
	<li><a href="http://www.veryshortlist.com/home/">Today&#8217;s VSL</a></li>
	<li><a href="http://www.veryshortlist.com/about/">About Us</a></li>
	<li><a href="http://www.veryshortlist.com/myaccount/">My Account</a></li>
	<li><a href="http://www.veryshortlist.com/lists/">Archive</a></li>
	<li class="subscribe"><a href="http://www.veryshortlist.com/subscribe/">Subscribe</a></li>
	<li class="srch"><form action="http://www.veryshortlist.com/search/"><div class="field"><label for="search" class="js-placeholder"><span>Search</span></label><input type="text" id="search" name="keyword" /></div></form></li>
</ul>
</div>
<div id="content" class="container">
	<div id="main"><div id="main-col">
		<img src="../images/2012/VSL_wall_1013.gif" alt="" width="468" height="531" />
		
		
				<ul id="about-sub">
					<li><a href="http://www.veryshortlist.com/contact/">Contact Us</a></li>
					<li><a href="http://www.veryshortlist.com/about/press.cfm">Press</a></li>
					<li><a href="http://www.veryshortlist.com/policy/">Privacy Policy</a></li>
					<li><a href="http://www.veryshortlist.com/policy/editorial.cfm">Editorial Policy</a></li>
				</ul>
		
		<div id="pg-cont"><h2>About us</h2>

<p><strong>Very Short List</strong> is a delightful e-mail that shares cultural gems from a different curator every day.</p>

<p>All of our e-mails are archived <a href="http://www.veryshortlist.com/lists/">here</a>.</p>

<p>Very Short List was founded in 2006 by Kurt Andersen, Michael Jackson, Tim Nolan, Emily Oberman, and Bonnie Siegler. It was redesigned in 2012 by <a href="http://notclosed.com/" target="_blank">Open</a>. You can read about the redesign <a href="http://veryshortlist.com/intro/">here</a>.</p>

<p>The managing editor is Karyn Campbell. Click <a href="mailto:kcampbell@veryshortlist.com">here</a> to contact her.</p>

<p>Click <a href="mailto:jklein@veryshortlist.com">here</a> to contact our advertising team.</p></div>
		
		<p id="page-footnote"><strong>Check out</strong> the latest <br />Very Short List emails:</p>
		<div id="latest-vsls" class="clearfix">

			
			<div class="vsl-thumb">
				<p style="margin:0 0 8px;padding:0"><a href="http://www.veryshortlist.com/food/daily.cfm/review/2419/Current_cinema/food/"><img src="http://www.veryshortlist.com/images/days/2419_thumbnail.jpg" width="120" border="0" alt="" style="display: block" /></a></p>
				<p style="margin:0;padding:0"><strong style="color:#c6d700">food</strong> 19 Apr 2013</p>
				<p style="margin:0;padding:0">Malaka Gharib on the latest, best food zines.</p>
			</div>
			
			
			<div class="vsl-thumb">
				<p style="margin:0 0 8px;padding:0"><a href="http://www.veryshortlist.com/culture/daily.cfm/review/2418/Current_cinema/Fatima%2DMoussa/"><img src="http://www.veryshortlist.com/images/days/2418_thumbnail.jpg" width="120" border="0" alt="" style="display: block" /></a></p>
				<p style="margin:0;padding:0"><strong style="color:#ffc300">culture</strong> 17 Apr 2013</p>
				<p style="margin:0;padding:0">Fatima Moussa On Nostalgia And Creation From The Middle East</p>
			</div>
			
			
			<div class="vsl-thumb last">
				<p style="margin:0 0 8px;padding:0"><a href="http://www.veryshortlist.com/tech/daily.cfm/review/2417/Current_cinema/Amrit%2DRichmond/"><img src="http://www.veryshortlist.com/images/days/2417_thumbnail.jpg" width="120" border="0" alt="" style="display: block" /></a></p>
				<p style="margin:0;padding:0"><strong style="color:#e90ee4">tech</strong> 15 Apr 2013</p>
				<p style="margin:0;padding:0">Amrit Richmond and taking ideas from the brain to the workshop.</p>
			</div>
			
		</div>
	</div>
	<div class="side-col">
		<p class="tagline"><strong>very short list</strong> is a <br />delightful e-mail that shares <br />cultural gems from a <br />different curator every day.</p> <a href="http://www.observer.com/" target="_blank"><img src="http://www.veryshortlist.com/images/tall_ads/2102_tall_ads.jpg" border="0" alt="" /></a>
	</div>
	</div>
<div id="footer">
<ul>
	<li><a href="http://www.veryshortlist.com/home/">Today&#8217;s VSL</a></li>
	<li><a href="http://www.veryshortlist.com/about/">About Us</a></li>
	<li><a href="http://www.veryshortlist.com/myaccount/">My Account</a></li>
	<li><a href="http://www.veryshortlist.com/lists/">Archive</a></li>
	<li class="subscribe"><a href="http://www.veryshortlist.com/subscribe/">Subscribe</a></li>
	<li><a href="http://www.veryshortlist.com/policy/terms.cfm">Terms + Conditions</a></li>
	<li class="last"><a href="http://www.veryshortlist.com/policy/">Privacy Policy</a></li>
</ul>
<p id="footnote"><b>very fine print: </b> &copy;2013 Observer VSL LLC. 321 West 44th Street, 6th Floor, New York, NY 10036 USA. All rights reserved. Questions? (212) 755-2400.</p>
</div></div></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script> window.jQuery || document.write('<script src="http://www.veryshortlist.com/include/js/jquery-1.7.1.min.js"><\/script>');</script>
<script src="http://www.veryshortlist.com/include/js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-32120908-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
